@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruda:wght@400..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary:#2563EB;
  --color-secondary:#FBBF24;
}

*{
  font-family: outfit;
}

.font-playfair{
  font-family: playfair !important;
}


